# Next
HOST_SISTEMA=
IMAGE_DOMAIN=
NEXT_PUBLIC_NEXTAUTH_URL=
NEXT_PUBLIC_FRONTEND_URL=

# Cognito
NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_COGNITO_CLIENT_ID=
NEXT_PUBLIC_COGNITO_REDIRECT_URL=
NEXT_PUBLIC_COGNITO_URL_DOMAIN=
# API Login
RECURSO_ID_CADUSU=
HOST_LOGIN=

#Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=